<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" 
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${academyDto.name}"></title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}">
    <link rel="stylesheet" th:href="@{/css/board.css}">
    <style>
        .classlist li {
        	list-style: none;
        }
    </style>
    <meta name="_csrf_header" th:content="${_csrf.headerName}" />
    <meta name="_csrf" th:content="${_csrf.token}" />
</head>
<body>
	<!-- layout -->
	<div layout:fragment="content">
		<div class="container">
		    <!-- 기본 정보 출력-->
		    <br>
		    <h2 style="display: inline-block"th:text="${academyDto.name}"></h2>
		    <span class="medal" >
				<span th:if ="${academyDto.grade} >= 4000">
					<img src = "/img/temp/마스터.png" alt="메달이미지" width=25px; height=25px;>
	      		</span>
	      		<span th:if ="${academyDto.grade} >= 3000 and ${academyDto.grade} < 4000">
	      			<img src = "/img/temp/플래티넘.png" alt="메달이미지" width=25px; height=25px;>
	         	</span>
	        		<span th:if ="${academyDto.grade} >= 2000 and ${academyDto.grade} < 3000">
	        			<img src = "/img/temp/골드.png" alt="메달이미지" width=25px; height=25px;>
	        		</span>
	        		<span th:if ="${academyDto.grade} >= 1000 and ${academyDto.grade} < 2000">
	        			<img src = "/img/temp/실버.png" alt="메달이미지" width=25px; height=25px;>
	        		</span>
	        		<span th:if ="${academyDto.grade} >= 0 and ${academyDto.grade} < 1000">
	        			<img src = "/img/temp/브론즈.png" alt="메달이미지" width=25px; height=25px;>
	        		</span>
			</span>
			<div>
				<p th:text="'주소 : ' + ${academyDto.address} + ' ' + ${academyDto.location}" ></p>
				<p th:text="'사업자등록번호 : ' + ${academyDto.companynum}"></p>
				<p th:text="'전화번호 : ' + ${academyDto.phone}"></p>
				<p th:text="'이메일 : ' + ${academyDto.email}"></p>
				<p th:text="'홈페이지 : ' + ${academyDto.homepage}"></p>
			</div>
			<hr>
			<br>
			<br>
			<br>
			
			<div th:each="imagefile : ${imageList}"> 	
				<img th:src="${imagefile}" class="d-block w-100">
			</div>	
		    <br>
		    <p th:text="${academyDto.info}"></p>
		    
		    <br>
		    <br>
		    <br>
		    <hr>
		    <!-- 기능 모음 -->
		    <div class="list">
			    <div sec:authorize="hasRole('ROLE_COMPANY')">
			   		<a th:href="@{'/user/cpnClassList'}">
			            <button class="btn btn-default">나의 학원</button>
			        </a>
			        <a th:href="@{'/claco/search?keyword=&arr_location='}">
				        <button class="btn btn-default">목록</button>
				    </a>
			        <div th:if="${isWriter}">
				        <a th:href="@{'/academy/post/edit/' + ${academyDto.aindex}}">
				            <button class="btn btn-default">수정</button>
				        </a>
				
				        <form id="delete-form" th:action="@{'/academy/post/' + ${academyDto.aindex}}" method="post">
				            <!-- controller에서는 delete로 매핑-->
				            <input type="hidden" name="_method" value="delete" />
				            <button class="btn btn-default" id="delete-btn">삭제</button>
				        </form>
			        </div>
			        <div th:unless="${isWriter}">
			        	<a th:href="@{'/claco/search?keyword=&arr_location='}">
				            <button class="btn btn-default">목록</button>
				        </a>
			        </div>
		        </div>
		    </div>
		    <br>
		    <!-- 강의 -->
		    <!-- 해당 학원의 강의 리스트 -->
		    <div th:if="${classesCnt != 1}">
		    	<p>[[${#numbers.formatInteger(classesCnt, 1)}]] Classes</p>
		    </div>
		    <div th:unless="${classesCnt != 1}">
		    	<p>[[${#numbers.formatInteger(classesCnt, 1)}]] Class</p>
		    </div>
		    <div th:if="${classesCnt} > 0">
		    	<ul class="classlist">
		    		<li th:each="cls : ${classes}">
		    			<span>
		    				<a th:href="@{'/claco/post/' + ${cls.cindex}}" >
		    					<p th:text="${cls.name}"></p>
		    				</a>
		    				<p th:text="${cls.startperiod} + ' ~ ' + ${cls.endperiod}"></p>
		    			</span>
		    			<span th:text="${cls.info}"></span>
		    		</li>
		    	</ul>
		    </div>
		    <div sec:authorize="hasRole('ROLE_COMPANY')">
			    <form th:action="@{'/claco/add/' + ${academyDto.aindex}}" method="get">
			    	<button type="submit" class="btn btn-default">강의 등록</button>
			    </form>
			    <br>
		    </div>
		    <!-- 변수 선언 방식 : ~~~ /*<![CDATA[*/ ~~~ /*]]>*/-->
		    <script th:inline="javascript">
		        /*<![CDATA[*/
		        var academyDto = /*[[${academyDto}]]*/"";
		        /*]]>*/
		    </script>
		    <script src="https://code.jquery.com/jquery-latest.min.js"></script>
    	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
	    </div>
    </div>
</body>
</html>